<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="icon" href="img/logo.png">
		<title>Học NodeJS FitHOU</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css" >
		<script src="js/jquery.js"></script>
		<script src="socket.io/socket.io.js"></script>
		<script src="js/trangchu.js"></script>
	    <!-- Theme style -->
	    <link rel="stylesheet" href="css/adminlte.min.css">
	    <!-- Google Font: Source Sans Pro -->
	    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	    <!-- Bootstrap 4 -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css" >

	</head>
	<body>
		<div class="col-md-12 login">
			<center>
				<h3 class="panel panel-primary">
					Hello Fithou_NodeJS
				</h3>
			</center>
		</div>
	</body>
</html>