body {
	font-family: "Time News Roman";
}
.icon{
	font-size: 30px;
	color: rgb(0, 153, 255);
}
.icon1{
	font-size: 20px;
	margin-right: 5px;
}
.main{
	padding: 20px;
	font-size: 15px;
}
.title-mess, .card-title, .dson{
	line-height: 27px;
	font-size: 20px;
}
.direct-chat-name
{
	font-family: cursive;
}
.login-box{
	font-size: 20px;
}
.hello{
	padding: 20px;
	color: brown;
}
.dson{
	color:#136100;
}
.fa-circle{
	color: #28ab28;
}
.ul-dson{
	font-family: cursive;
	color:#000000;
}
.login-logo{
	background: #fff6f6;
    box-shadow: 0px 1px 1px 1px #CCC;
}
.video{
	padding: 10px;
}